<h3 ng-bind="s03.title"></h3>
<div>
  <md-table-container>
    <table md-table multiple>
      <thead md-head>
        <tr md-row>
          <th md-column>Code</th>
          <th md-column>商品名</th>
          <th md-column md-numeric>価格</th>
          <th md-column md-numeric>税込</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="dessert" ng-repeat="item in s03.model.list">
          <td md-cell ng-bind="item.code"></td>
          <td md-cell ng-bind="item.name"></td>
          <td md-cell ng-bind="item.price"></td>
          <td md-cell ng-bind="item.price * s03.model.tax | number:0"></td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <br />
  <md-content layout-padding>
    <md-input-container>
      <label>税率</label>
      <input ng-model="s03.model.tax">
    </md-input-container>
  </md-content>
</div>