<div>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Code</th>
      <th class="mdl-data-table__cell--non-numeric">商品名</th>
      <th>価格</th>
      <th>税込</th>
    </tr>
    <tr ng-repeat="item in s03.model.list">
      <td class="mdl-data-table__cell--non-numeric" ng-bind="item.code"></td>
      <td class="mdl-data-table__cell--non-numeric" ng-bind="item.name"></td>
      <td ng-bind="item.price"></td>
      <td ng-bind="item.price * s03.model.tax | number:0"></td>
    </tr>
  </table>
  <br />
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="tax" ng-model="s03.model.tax">
    <label class="mdl-textfield__label" for="tax">税率</label>
  </div>
</div>